
        <div class="container" ng-controller="AppCtrl"> 
        <h1 style="color:rgb(179, 211, 37);font-style:italic;"><b>GALAXY MARCHANT TRADING </b></h1>
        <div class = "row">
                <div class="col-md-4 col-lg-4">
                        <label for="materialname" class="label-style"><b>Enter Material Name</b></label>
                </div>
                <div class = "col-md-2 col-lg-2">
                        <label for="materialprice" class="label-style"><b>value in Roman</b></label>
                </div>
        </div>
        <div class = "row">
               
                                <div class="col-md-4 col-lg-4">
                                                <input class="form-control" ng-model="material.materialname">
                                        </div>
                                        <div class = "col-md-2 col-lg-2">
                                                <input class="form-control" ng-model="material.value">
                                        </div>
                                        <div class = "col-md-3 col-lg-3">
                                                <button class="btn btn-primary" id="add" ng-click="addMaterial()">Add</button>
                                                <button class="btn btn-success" id="submit" ng-click="submit()">Submit</button>
                                        </div>
                                      
                                        <div style="color:red;"><h4>{{errorRoman}}</h4></div>
               
               
        </div>
        <div><h4 style="color:red;">{{inputValidation}}</h4></div>
        <div   ng-repeat="values in array" class="material-style">
                       
                       <li> {{values.material}} is {{values.value}} </li>
                                            
                                       
        </div>
       
<div class="rectangele">
        <div class = "row" class="rectangele-content">
                        <div class="col-md-3 col-lg-3" >
                                <label for="materialname" class="label-style">how many credits is</label>
                        </div>
                        <div class = "col-md-6 col-lg-6">
                                        <input class="form-control" ng-model="material.credites">?
                                </div>
                                <div class = "col-md-3 col-lg-3">
                                                <button class="btn btn-success" ng-click="getCredits()">Get Credits</button>
                                                <button class="btn btn-info" ng-click="reset()">Reset</button>
                                        </div>
                                       
                </div>
                <div> <h2 style="color:rgb(66, 230, 16);;font-size:30px"><b>{{credits}}</b></h2></div>
                <div> <h2 style="color:red;"><b>{{error}}</b></h2></div>
        </div>
        <div><h5 class="label-style"><b style="color:red">*</b>Once you click <b style="color:rgb(240, 78, 14)">Submit</b> button you can not add any more new materials.<b style="color:blue">Add</b> and <b style="color:rgb(240, 78, 14)">Submit</b> buttons will be disabled.</h5></div>
        <div><h5 class="label-style"><b style="color:red">*</b>Please click <b style="color:rgb(24, 157, 209)">Reset</b> button to enable Add and Submit buttons in order to add new set of materials and new questions</h5></div>
        </div>
   