

<div class="container" ng-controller="AppCtrl">
  <div class="row">
    <div class = "col-md-12">
        <label for="id">HTML Content here</label>
    </div>
    </div>
    <div class="row">
        <div class = "col-md-12">
            <textarea name="multilinetext" ng-model="multitext" ng-change="changeTextArea()"  wrap="off" style="height: 300px; font-size:17px; margin:10px;width:500px"></textarea>
        </div>
  </div>
  <div class="row">
      <div class = "col-md-12">
          <label for="id">Java Script Content</label>
      </div>
      </div>
      <div class="row">
          <div class = "col-md-12">
              <textarea name="multilinetext" ng-model="multitext" ng-change="changeTextArea()"  wrap="off" style="height: 300px; font-size:17px; margin:10px;width:500px"></textarea>
          </div>
          </div>
  	
  
          <div class="row">
              <div class = "col-md-12">
                  <label for="id">Select Widgets</label>
              </div>
              </div>
              <div class="row">
                  <div class = "col-md-12">
                      <select ng-model="content.slayout">
                          <option ng-repeat="x in widgets">{{x}}</option>
                          </select>
                  </div>
                  </div>
      
  
  </div>

  

